{% macro camposNuevos(field) %}
<div class="w-full mb-4">
    <label class="block text-sm font-bold text-gray-900 mb-1 text-left w-full pl-1">
        {{ field.label }}
    </label>
    <dd class="w-full">
        {{ field(class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:outline-none text-gray-900", **kwargs) | safe }}
    </dd>
    {% if field.errors %}
    <ul class="text-left w-full">
        {% for error in field.errors %}
            <li class="text-red-500 text-xs italic mt-1">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endmacro %}